.header {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-green);
  display: flex;
  font-family: 'Rubik Variable', sans-serif;
  font-size: 1.2rem;
  justify-content: center;
  height: 6rem;
  border-style: dotted;
  border-color: blue;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    border-style: dotted;
    border-color: green;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    ul {
      align-items: center;
      display: flex;
      list-style: none;
      gap: 3.5rem;
    }
  }
  img {
    border-style: dotted;
    border-color: red;
    max-height: 6rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.get_started {
  background-color: var(--color-blue-light);
  border: none;
  color: white;
  font-family: 'Rubik Variable', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  transition-duration: 0.25s;

  &:hover {
    background-color: var(--color-blue-med);
  }
}
