.header {
  background-color: var(--color-background);
  color: var(--color-green);
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
}

nav {
  ul {
    display: flex;
    list-style: none;
  }
}
